.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.booking-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.booking-form label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.booking-form input, 
.booking-form select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.booking-form button {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    padding: 0.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.booking-form button:hover {
    background-color: #0056b3;
}

.stripeReturn {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .booking-container {
        padding: 1rem;
    }

    .booking-form label {
        font-size: 0.9rem;
    }

    .booking-form input, 
    .booking-form select {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    .booking-form button {
        font-size: 1rem;
        padding: 0.3rem;
        margin: 0.5rem 0;
    }
}
